---
//component import
import MainHead from "./MainHead.astro";

// style import
import "../styles/global.css"

const {
	title = "My Astro Blog",
	description = "This My description",
} = Astro.props; //title cara 2 menggunakan props
---

<html lang="en">
    <MainHead {title} {description} /> <!-- memanggil semacam route title yang di buat dari props di MainHead.astro -->
	<body>
		<slot>Default Text</slot>
	</body>
</html>